**/__pycache__/**
**/outputs/**
**/multirun/**
**/wandb/**
**/ckpt/**
**/demos/**
**.html
**/toy_circle/results/**
*plot.png
*.svg
_todo
CLAUDE.md
demo_visualization
mask_bbox_viz
docs
test_*.py
examples